
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 93.75%;
    height: 100%;
    width: 100%;
}
svg {
    height: 100%;
    width: 100%;
    overflow: visible !important;
}
.usa {
    padding: 10px;
    
}
.usa1 {
    padding: 10px;
}
.usa2 {
    padding: 10px;
}
.usa3 {
    padding: 10px;
}
